In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/yfinance_data/Data/AAPL.csv")

In [3]:
df

            Date       Close        High         Low        Open      Volume
0     2009-01-02    2.721686    2.730385    2.554037    2.575630   746015200
1     2009-01-05    2.836553    2.884539    2.780469    2.794266  1181608400
2     2009-01-06    2.789767    2.914229    2.770872    2.877641  1289310400
3     2009-01-07    2.729484    2.774170    2.706990    2.753477   753048800
4     2009-01-08    2.780169    2.793666    2.700393    2.712090   673500800
...          ...         ...         ...         ...         ...         ...
3769  2023-12-22  191.788757  193.581821  191.164647  193.353962    37149600
3770  2023-12-26  191.243912  192.076049  191.025969  191.798670    28919300
3771  2023-12-27  191.342972  191.689703  189.302247  190.689158    48087700
3772  2023-12-28  191.768951  192.838849  191.362784  192.323710    34049900
3773  2023-12-29  190.728775  192.581275  189.936256  192.085953    42672100

[3774 rows x 6 columns]

In [5]:
df = df.sort_values("Date")